@import "common/reset"
@import "common/fonts"
@import "common/media"
@import "common/root"

body
    fontsize1()
    background-color screen-background

.label1
    float left
    padding 5px 10px
    fontsize1()

.label11
    float left
    padding 5px 10px
    fontsize1()
    font-weight bold

.label2
    float left
    padding 5px 10px
    fontsize2()

.label22
    float left
    padding 5px 10px
    fontsize2()
    font-weight bold

.label3
    float left
    padding 5px 10px
    fontsize3()

.label33
    float left
    padding 5px 10px
    fontsize3()
    font-weight bold

.label4
    float left
    padding 5px 10px
    fontsize4()

.label44
    float left
    padding 5px 10px
    fontsize4()
    font-weight bold

.label5
    float left
    padding 5px 10px
    fontsize5()

.label55
    float left
    padding 5px 10px
    fontsize5()
    font-weight bold

.label6
    float left
    padding 5px 10px
    fontsize6()

.label66
    float left
    padding 5px 10px
    fontsize6()
    font-weight bold

.label7
    float left
    padding 5px 10px
    fontsize7()

.label77
    float left
    padding 5px 10px
    fontsize7()
    font-weight bold
