@import 'nib'

support-for-ie = false
vendor-prefixes = webkit

@import "./../../../../app/css/themes/pink"
@import "./../../../../app/css/common/reset"
@import "./../../../../app/css/common/fonts"
@import "./../../../../app/css/common/media"
@import "./../../../../app/css/common/root"

body
    font1()
    color screen-font-color
    background-color screen-background

.row
    padding 10px 0

.label
    float left
    padding 5px 10px

.label1
    float left
    padding 5px 10px
    font1()

.label11
    float left
    padding 5px 10px
    font1()
    font-weight bold

.label111
    float left
    padding 5px 10px
    font1()
    font-style italic

.label1111
    float left
    padding 5px 10px
    font1()
    font-style italic
    font-weight bold

.label2
    float left
    padding 5px 10px
    font2()

.label22
    float left
    padding 5px 10px
    font2()
    font-weight bold

.label222
    float left
    padding 5px 10px
    font2()
    font-style italic

.label2222
    float left
    padding 5px 10px
    font2()
    font-style italic
    font-weight bold

.label3
    float left
    padding 5px 10px
    font3()

.label33
    float left
    padding 5px 10px
    font3()
    font-weight bold

.label333
    float left
    padding 5px 10px
    font3()
    font-style italic

.label3333
    float left
    padding 5px 10px
    font3()
    font-style italic
    font-weight bold

.label4
    float left
    padding 5px 10px
    font4()

.label44
    float left
    padding 5px 10px
    font4()
    font-weight bold

.label444
    float left
    padding 5px 10px
    font4()
    font-style italic

.label4444
    float left
    padding 5px 10px
    font4()
    font-style italic
    font-weight bold

.label5
    float left
    padding 5px 10px
    font5()

.label55
    float left
    padding 5px 10px
    font5()
    font-weight bold

.label555
    float left
    padding 5px 10px
    font5()
    font-style italic

.label5555
    float left
    padding 5px 10px
    font5()
    font-style italic
    font-weight bold

.label6
    float left
    padding 5px 10px
    font6()

.label66
    float left
    padding 5px 10px
    font6()
    font-weight bold

.label666
    float left
    padding 5px 10px
    font6()
    font-style italic

.label6666
    float left
    padding 5px 10px
    font6()
    font-style italic
    font-weight bold

.label7
    float left
    padding 5px 10px
    font7()

.label77
    float left
    padding 5px 10px
    font7()
    font-weight bold

.label777
    float left
    padding 5px 10px
    font7()
    font-style italic

.label7777
    float left
    padding 5px 10px
    font7()
    font-style italic
    font-weight bold

.label8
    float left
    padding 5px 10px
    font8()

.label88
    float left
    padding 5px 10px
    font8()
    font-weight bold

.label888
    float left
    padding 5px 10px
    font8()
    font-style italic

.label8888
    float left
    padding 5px 10px
    font8()
    font-style italic
    font-weight bold

.label9
    float left
    padding 5px 10px
    font9()

.label99
    float left
    padding 5px 10px
    font9()
    font-weight bold

.label999
    float left
    padding 5px 10px
    font9()
    font-style italic

.label9999
    float left
    padding 5px 10px
    font9()
    font-style italic
    font-weight bold


