@import 'nib'

support-for-ie = false
vendor-prefixes = webkit

@import "./../../../../app/css/themes/pink"
@import "./../../../../app/css/common/reset"
@import "./../../../../app/css/common/fonts"
@import "./../../../../app/css/common/media"
@import "./../../../../app/css/common/root"

body
    font1()
    color screen-font-color
    background-color screen-background


.logo
    position absolute

    .text
        font4()
        letter-spacing 5.5px
        position absolute
        top 5px
        left 7px
        color screen-font-color

    .icon
        .axis
            position absolute
            top 20px
            left 5px
            width 125px
            height 1px
            border-radius 2px
            opacity 0.7
            background-color screen-font-color-light

        .tri1
            position absolute
            top 21px
            left 5px
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9.5px 5.5px 0 5.5px;
            border-color: screen-font-color-light transparent transparent transparent;

        .dot1
            position absolute
            top 30px
            left 8px
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color icon-down-color

        .tri2
            position absolute
            top 11px
            left 120px
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5.5px 9.5px 5.5px
            border-color: transparent transparent screen-font-color-light transparent;

        .dot2
            position absolute
            top 6px
            left 123px
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color icon-up-color


#topnav
    z-index 1
    .topnav-item
        font4()
        font-weight bold
        position relative
        float right
        margin 2px 4px 0 4px
        padding 7px 7px
        height 30px
        background-color menu-background-color
        color screen-font-color-light
        border 1px solid menu-border-color

        i.fa-chevron-down
            font-size 0.5em
            right 3px
            top 10px
            position absolute
            color screen-background-dark

        &:hover
            background-color menu-background-hover-color
            box-shadow: 3px 1px 15px 0px menu-boxshadow-color;

    .ticker
        width 170px
        text-transform uppercase
        padding 2px 7px
        font-weight normal

        &::-webkit-input-placeholder
            color #FFF
            font-size 0.8em
            text-transform none

        &:focus
            background-color menu-background-hover-color
            color screen-font-color-light

    .range
       width 40px

    .timeframe
        width 65px

    .layouts
        width 50px
        position relative

        .layoutbutton
            &[data-layout='1a'],
            &[data-layout='2a'],
            &[data-layout='2b'],
            &[data-layout='3a'],
            &[data-layout='3b'],
            &[data-layout='3c']
                display none

            .box
                border: 1px solid screen-font-color;
                position: absolute;

        &.layout-1a .layoutbutton[data-layout='1a'],
        &.layout-2a .layoutbutton[data-layout='2a'],
        &.layout-2b .layoutbutton[data-layout='2b'],
        &.layout-3a .layoutbutton[data-layout='3a'],
        &.layout-3b .layoutbutton[data-layout='3b'],
        &.layout-3c .layoutbutton[data-layout='3c']
            display block
            .box
                border-color screen-font-color-light


        .layoutbutton[data-layout='1a']
            .box1
                height: 18px;
                width: 25px;
                top: 5px;
                left: 4px;


        .layoutbutton[data-layout='2a']
            .box1
                height: 18px;
                width: 13px;
                top: 5px;
                left: 4px;

            .box2
                height: 18px;
                width: 13px;
                top: 5px;
                left: 20px;

        .layoutbutton[data-layout='2b']
            .box1
                height: 9px;
                width: 25px;
                top: 4px;
                left: 4px;

            .box2
                height: 9px;
                width: 25px;
                top: 15px;
                left: 4px;

        .layoutbutton[data-layout='3a']
            .box1
                height: 18px;
                width: 7px;
                top: 5px;
                left: 4px;

            .box2
                height: 18px;
                width: 7px;
                top: 5px;
                left: 15px;

            .box3
                height: 18px;
                width: 7px;
                top: 5px;
                left: 25px;

        .layoutbutton[data-layout='3b']
            .box1
                height: 5px;
                width: 26px;
                top: 5px;
                left: 4px;

            .box2
                height: 5px;
                width: 26px;
                top: 12px;
                left: 4px;

            .box3
                height: 5px;
                width: 26px;
                top: 19px;
                left: 4px;

        .layoutbutton[data-layout='3c']
            .box1
                height: 20px;
                width: 12px;
                top: 4px;
                left: 4px;

            .box2
                height: 9px;
                width: 12px;
                top: 4px;
                left: 18px;

            .box3
                height: 9px;
                width: 12px;
                top: 15px;
                left: 18px;

    .preview
        width 160px
        padding 2px 7px

        button.play
            margin 0
            width 60px
            background-color transparent
            border 1px solid screen-font-color-light
            border-radius 3px

        button.stop
            width 30px
            background-color transparent
            border 1px solid screen-font-color-light
            border-radius 3px

        button.pause
            width 30px
            background-color transparent
            border 1px solid screen-font-color-light
            border-radius 3px

        button.disabled
            opacity 0.4

            &:hover
                background-color menu-background-color

        button:hover
            background-color menu-background-hover-color

        &:hover
            background-color menu-background-color
            box-shadow none

    .compare
        font5()
        width 110px
        padding 6px 7px

    .signals
        font5()
        width 95px
        padding 6px 7px

    .indicators
        font5()
        width 115px
        padding 6px 7px


#topnav
    .range .navitem-options
        font5()
        position absolute
        top 40px
        left 0
        width 250px
        height 30px
        padding 6px 2px
        background-color menu-background-color
        color screen-font-color
        border 1px solid menu-border-color

        &:before
            position absolute
            top -10px
            left 15px
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5.5px 9.5px 5.5px
            border-color: transparent transparent menu-border-color transparent;
            content: ''

        .sidetitle
            float left
            padding 0 5px
            border-right 1px solid white

        .option
            float left





.finchart
    .grid-x
        .axis
            stroke grid-lines-color
            stroke-width 2px
            opacity 1

        .pricelabel
            font8()

    .grid-y
        .axis
            stroke grid-lines-color
            stroke-width 2px
            opacity 1

        .datetimelabel
            font8()

            &.year,
            &.month
                font-weight bold

    .volume
        stroke-width 1px
        opacity 0.5

        .up
            stroke volume-stroke-color
            fill volume-up-color

        .down
            stroke volume-stroke-color
            fill volume-down-color

    .chart-info
        fill screen-font-color

        &.active
            fill screen-font-color-light

        .ticker
            font1()
            font-weight bold

        .range
            font6()

        .period
            font8()

    .candles
        stroke-width 1px
        stroke candle-stroke-color

        .up
            fill candle-up-color

        .down
            fill candle-down-color


    .crosshairs

        .value-axis, /* y - horizontal */
        .time-axis /* x - vertical */
            .axis
                stroke crosshairs-axis-color
                stroke-dasharray: 2px, 2px;

            .label-box
                fill crosshairs-label-background

            .label
                font8()
                stroke crosshairs-label-color

        .overlay
            fill transparent





