@import 'nib'

support-for-ie = false
vendor-prefixes = webkit

@import "./../../../../app/css/themes/pink"
@import "./../../../../app/css/common/reset"
@import "./../../../../app/css/common/fonts"
@import "./../../../../app/css/common/media"
@import "./../../../../app/css/common/root"

body
    fontsize1()
    background-color screen-background