screen-background = #F48D7E
screen-font-color = #2B0E30
screen-font-color-light = #FFF

chart-border-color = #E17F74
chart-active-border-color = #FFF

grid-lines-color = #FA9A8A
axis-label-color = #A96455

volume-up-color = #FEFEFE
volume-down-color = #5D586F
volume-border-color = #5F55CE

heirlooms-axis-color = #000
heirlooms-label-background = #000
heirlooms-label-color = #FFF

// renderer - candle stick
candle-up-color = #EEF2F5
candle-down-color = #6E4950
candle-border-color = #5F55CE
