screen-background = #F48D7E
screen-background-dark = #000

screen-font-color = #2B0E30
screen-font-color-light = #FFF

chart-border-color = #E17F74
chart-active-border-color = #FFF

grid-lines-color = #FA9A8A
axis-label-color = #A96455

volume-up-color = #FEFEFE
volume-down-color = #5D586F
volume-stroke-color = #2B0E30

// renderer - candle stick
candle-up-color = #FEFEFE
candle-down-color = #5D586F
candle-stroke-color = #000000

crosshairs-axis-color = screen-background-dark
crosshairs-label-background = screen-background-dark
crosshairs-label-color = screen-font-color-light

icon-up-color = green
icon-down-color = red
