.icon-candle-sticks
    path
      stroke:candle-stroke-color;
      fill:candle-up-color;
      stroke-width:1;
      stroke-linecap: "round" ;
      stroke-linejoin:"round";

    .box2
      fill: candle-down-color;


.icon-ohlc,
.icon-hlc
  path
    stroke:ohlc-down-color;
    fill:none;
    stroke-width: 2.2;
    stroke-linecap: round;
    stroke-linejoin: round;

  .box2
    stroke: ohlc-up-color;


.icon-area
  path
    stroke:ohlc-up-color;
    fill:ohlc-up-color;
    stroke-width: 1;

.icon-line
  path
    stroke:ohlc-up-color;
    fill:none;
    stroke-width: 2;
