* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana;
    overflow:hidden;
}

.title {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana;
  font-size: 200px;
  fill: #E5628C;
  text-transform: uppercase;
  opacity: 0.1;
}


#topbar {
  overflow: hidden;
  background-color: #cecece;
  padding: 2px 5px;
}

#ticker {
  height:35px;
  width: 200px;
  -webkit-appearance: none;
  padding: 0 5px;
  font-size: 0.8em;
}

#plot {
  overflow: hidden;
}
