html { font-size: 62.5%; }
body { font-size: 1em;}

@media (min-width: 300px) {
    html { font-size: 60%; }
}

@media (min-width: 500px) {
    html { font-size: 70%; }
}

@media (min-width: 700px) {
    html { font-size: 80%; }
}

@media (min-width: 1200px) {
    html { font-size: 120%; }
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana;
    overflow:hidden;
    font-size: 1em;
}

.title {
  font-size: 10em;
  fill: #E5628C;
  text-transform: uppercase;
  opacity: 0.1;
}

.pricelabel {
  font-size: 0.5em;
}

.datetimelabel {
  font-size: 0.5em;
}


#topbar {
  overflow: hidden;
  background-color: #cecece;
  padding: 2px 5px;
}

#ticker {
  height:35px;
  width: 200px;
  -webkit-appearance: none;
  padding: 0 5px;
  font-size: 0.9em;
}

#plot {
  overflow: hidden;
}
