@font-face
  font-family: 'Lato Regular';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype')


@font-face
  font-family: 'Lato Bold';
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
  src: local('☺'),
      url('../assets/fonts/Lato/Lato-Bold.ttf') format('truetype')


@font-face
  font-family: 'Montserrat Regular';
  src: url('../assets/fonts/Lato/Montserrat-Regular.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Montserrat-Regular.ttf') format('truetype')

@font-face
  font-family: 'Montserrat Bold';
  src: url('../assets/fonts/Lato/Montserrat-Bold.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Montserrat-Bold.ttf') format('truetype')


@font-face
  font-family: 'Roboto Regular';
  src: url('../assets/fonts/Lato/Roboto-Regular.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Roboto-Regular.ttf') format('truetype')


@font-face
  font-family: 'Roboto Bold';
  src: url('../assets/fonts/Lato/Roboto-Bold.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Roboto-Bold.ttf') format('truetype')


font-family-name = 'Lato Regular'


fontsize1()
  font-family font-family-name, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial
  font-size 18px
  font-weight normal

fontsize2()
  font-family font-family-name, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial
  font-size 16px
  font-weight normal

fontsize3()
  font-family font-family-name, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial
  font-size 14px
  font-weight normal

fontsize4()
  font-family font-family-name, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial
  font-size 12px
  text-transform uppercase
  font-weight normal

fontsize5()
  font-family font-family-name, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial
  font-size 10px
  font-weight normal

fontsize5()
  font-family font-family-name, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial
  font-size 8px
  font-weight normal

