@import 'nib'

support-for-ie = false
vendor-prefixes = webkit

@import "css/themes/pink"
@import "css/common/reset"
@import "css/common/fonts"
@import "css/common/media"
@import "css/common/root"
@import "css/common/icon-sprite"

body
    font1()
    color screen-font-color
    background-color screen-background

@import "client"