#applogo
    position absolute

    .text
        font4()
        letter-spacing 5.5px
        position absolute
        top 5px
        left 7px
        color screen-font-color

    .icon
        .axis
            position absolute
            top 20px
            left 5px
            width 125px
            height 1px
            border-radius 2px
            opacity 0.7
            background-color screen-font-color-light

        .tri1
            position absolute
            top 21px
            left 5px
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9.5px 5.5px 0 5.5px;
            border-color: screen-font-color-light transparent transparent transparent;

        .dot1
            position absolute
            top 30px
            left 8px
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color icon-down-color

        .tri2
            position absolute
            top 11px
            left 120px
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5.5px 9.5px 5.5px
            border-color: transparent transparent screen-font-color-light transparent;

        .dot2
            position absolute
            top 6px
            left 123px
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color icon-up-color