.layoutbutton
    display block
    .box
        border: 1px solid screen-font-color;
        position: absolute;

.layoutbutton[data-layout='1a']
    .box1
        height: 18px;
        width: 25px;
        top: 5px;
        left: 4px;


.layoutbutton[data-layout='2a']
    .box1
        height: 18px;
        width: 13px;
        top: 5px;
        left: 4px;

    .box2
        height: 18px;
        width: 13px;
        top: 5px;
        left: 20px;

.layoutbutton[data-layout='2b']
    .box1
        height: 9px;
        width: 25px;
        top: 4px;
        left: 4px;

    .box2
        height: 9px;
        width: 25px;
        top: 15px;
        left: 4px;

.layoutbutton[data-layout='3a']
    .box1
        height: 18px;
        width: 7px;
        top: 5px;
        left: 4px;

    .box2
        height: 18px;
        width: 7px;
        top: 5px;
        left: 15px;

    .box3
        height: 18px;
        width: 7px;
        top: 5px;
        left: 25px;

.layoutbutton[data-layout='3b']
    .box1
        height: 5px;
        width: 26px;
        top: 5px;
        left: 4px;

    .box2
        height: 5px;
        width: 26px;
        top: 12px;
        left: 4px;

    .box3
        height: 5px;
        width: 26px;
        top: 19px;
        left: 4px;

.layoutbutton[data-layout='3c']
    .box1
        height: 20px;
        width: 12px;
        top: 4px;
        left: 4px;

    .box2
        height: 9px;
        width: 12px;
        top: 4px;
        left: 18px;

    .box3
        height: 9px;
        width: 12px;
        top: 15px;
        left: 18px;