@font-face
  font-family: 'Lato Regular';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
  src: local('☺'),
       url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype')


@font-face
  font-family: 'Lato Bold';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf');
  src: local('☺'),
      url('./assets/fonts/Lato/Lato-Bold.ttf') format('truetype')

@font-face
  font-family: 'Roboto Regular';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  src: local('☺'),
       url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype')


@font-face
  font-family: 'Roboto Bold';
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
  src: local('☺'),
       url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype')


fonts = 'Lato Regular', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial


font1()
  font-family fonts
  font-size 18px

font2()
  font-family fonts
  font-size 0.95em

font3()
  font-family fonts
  font-size 0.9em

font4()
  font-family fonts
  font-size 0.85em

font5()
  font-family fonts
  font-size 0.8em

font6()
  font-family fonts
  font-size 0.75em

font7()
  font-family fonts
  font-size 0.7em

font8()
  font-family fonts
  font-size 0.65em

font9()
  font-family fonts
  font-size 0.6em

