@font-face
  font-family: 'Lato Regular';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype')


@font-face
  font-family: 'Lato Bold';
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
  src: local('☺'),
      url('../assets/fonts/Lato/Lato-Bold.ttf') format('truetype')


@font-face
  font-family: 'Montserrat Regular';
  src: url('../assets/fonts/Lato/Montserrat-Regular.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Montserrat-Regular.ttf') format('truetype')

@font-face
  font-family: 'Montserrat Bold';
  src: url('../assets/fonts/Lato/Montserrat-Bold.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Montserrat-Bold.ttf') format('truetype')


@font-face
  font-family: 'Roboto Regular';
  src: url('../assets/fonts/Lato/Roboto-Regular.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Roboto-Regular.ttf') format('truetype')


@font-face
  font-family: 'Roboto Bold';
  src: url('../assets/fonts/Lato/Roboto-Bold.ttf');
  src: local('☺'),
       url('../assets/fonts/Lato/Roboto-Bold.ttf') format('truetype')


fonts = 'Lato Regular', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial


fontsize1()
  font-family fonts
  font-size 18px

fontsize2()
  font-family fonts
  font-size 0.95em

fontsize3()
  font-family fonts
  font-size 0.9em

fontsize4()
  font-family fonts
  font-size 0.85em

fontsize5()
  font-family fonts
  font-size 0.8em

fontsize6()
  font-family fonts
  font-size 0.75em

fontsize7()
  font-family fonts
  font-size 0.7em

