#icon-candle-sticks
    path
      stroke:black;
      fill:none;
      stroke-width:1;
      stroke-linecap: "round" ;
      stroke-linejoin:"round";

    .box2
      fill: black;


#icon-ohlc,
#icon-hlc
  path
    stroke:black;
    fill:none;
    stroke-width: 2.2;
    stroke-linecap: round;
    stroke-linejoin: round;

  .box2
    stroke: blue;


#icon-area
  path
    stroke:black;
    fill:black;
    stroke-width: 1;


#icon-line
  path
    stroke:black;
    fill:none;
    stroke-width: 1;
