html
    box-sizing border-box



*, *:before, *:after
    box-sizing inherit

.clearfix:before,
.clearfix:after
    content " "
    display table

.clearfix:after
    clear both

.hide
    display none
