.pricechart
    .grid-x
        .axis
            stroke grid-lines-color
            stroke-width 2px
            opacity 1

        .pricelabel
            font8()

    .grid-y
        .axis
            stroke grid-lines-color
            stroke-width 2px
            opacity 1

        .datetimelabel
            font8()

            &.year,
            &.month
                font-weight bold

    .volume
        stroke-width 1px
        opacity 0.5

        .up
            stroke volume-stroke-color
            fill volume-up-color

        .down
            stroke volume-stroke-color
            fill volume-down-color

    .chart-info
        fill screen-font-color

        &.active
            fill screen-font-color-light

        .ticker
            font1()
            font-weight bold

        .range
            font6()

        .period
            font8()

    .candles
        stroke-width 1px
        stroke candle-stroke-color

        .up
            fill candle-up-color

        .down
            fill candle-down-color

    .ohlcbars
        stroke-width 1.5
        stroke-linecap round
        stroke-linejoin round

        .up
            stroke candle-up-color

        .down
            stroke candle-down-color


    .crosshairs
        .value-axis, /* y - horizontal */
        .time-axis /* x - vertical */
            .axis
                stroke crosshairs-axis-color
                stroke-dasharray: 2px, 4px;

            .label-box
                fill crosshairs-label-background

            .label
                font8()
                stroke crosshairs-label-color

        .overlay
            fill transparent

    .chartpreview
        .rect
            fill screen-background
