html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html { font-size: 62.5%; }
body { font-size: 1em;}

@media (min-width: 300px) {
    html { font-size: 60%; }
}

@media (min-width: 500px) {
    html { font-size: 70%; }
}

@media (min-width: 700px) {
    html { font-size: 80%; }
}

@media (min-width: 1200px) {
    html { font-size: 120%; }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana;
    overflow:hidden;
    font-size: 1em;
    background-color: #cecece;
}

.title {
  font-size: 10em;
  fill: #E5628C;
  text-transform: uppercase;
  opacity: 0.1;
}

.pricelabel {
  font-size: 10px;
}

.datetimelabel {
  font-size: 10px;
}


#topbar {
  overflow: hidden;
  background-color: #fff;
  padding: 2px 5px;
}

#topbar .layoutbutton {
  width: 36px;
  height: 36px;
  border: 1px solid #878690;
  float: left;
  margin: 0 3px;
  position: relative;
}

#topbar .layoutbutton.active{
  border: 1px solid blue;
}

#topbar .layoutbutton[data-layout="chartslayout_1a"] .box1 {
    height: 26px;
    width: 26px;
    top: 4px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_2a"] .box1 {
    height: 26px;
    width: 12px;
    top: 4px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_2a"] .box2 {
    height: 26px;
    width: 12px;
    top: 4px;
    left: 18px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_2b"] .box1 {
    height: 12px;
    width: 26px;
    top: 4px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_2b"] .box2 {
    height: 12px;
    width: 26px;
    top: 18px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

/* 3A */

#topbar .layoutbutton[data-layout="chartslayout_3a"] .box1 {
    height: 26px;
    width: 6px;
    top: 4px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_3a"] .box2 {
    height: 26px;
    width: 6px;
    top: 4px;
    left: 14px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_3a"] .box3 {
    height: 26px;
    width: 6px;
    top: 4px;
    left: 24px;
    background-color: #878690;
    position: absolute;
}


/* 3B */
#topbar .layoutbutton[data-layout="chartslayout_3b"] .box1 {
    height: 6px;
    width: 26px;
    top: 4px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_3b"] .box2 {
    height: 6px;
    width: 26px;
    top: 14px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_3b"] .box3 {
    height: 6px;
    width: 26px;
    top: 24px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

/* 3C */
#topbar .layoutbutton[data-layout="chartslayout_3c"] .box1 {
    height: 26px;
    width: 12px;
    top: 4px;
    left: 4px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_3c"] .box2 {
    height: 12px;
    width: 12px;
    top: 4px;
    left: 18px;
    background-color: #878690;
    position: absolute;
}

#topbar .layoutbutton[data-layout="chartslayout_3c"] .box3 {
    height: 12px;
    width: 12px;
    top: 18px;
    left: 18px;
    background-color: #878690;
    position: absolute;
}

#ticker {
  height:35px;
  width: 200px;
  -webkit-appearance: none;
  padding: 0 5px;
  font-size: 0.9em;
  float: left;
  margin: 0 3px 0 0;
}

.chartcontainer {
  overflow: hidden;
  background-color: #fff;
}

.chartcontainer.active {
  border: 1px solid blue;
}

.plot {
  width: 100%;
  height: 100%;
}

.crosshair-rect {
  fill: none;
  pointer-events: all;
  fill-opacity:0;
  stroke-opacity:0;
}