.chartcontainer
    position absolute
    outline 1px dashed chart-outline-color
    overflow hidden
    transition outline 0.5s ease-in
    background-color screen-background

    &.active
        outline 1px dashed screen-font-color-light


