.pricechart
    .candles
        stroke-width 1px
        stroke candle-stroke-color

        .up
            fill candle-up-color

        .down
            fill candle-down-color

    .ohlcbars,
    .hlcbars
        stroke-width 2.5
        stroke-linecap round
        stroke-linejoin round

        &.thick
            stroke-width 3.5

        .up
            stroke ohlc-up-color

        .down
            stroke ohlc-down-color

    .line
        path
          fill: none;
          stroke-width: 1.5px;

          &.down
            stroke ohlc-down-color
